#main{
	display: grid;
	grid-column: 3 / span 4;
	grid-gap: 0.6rem;
	grid-row: 2;
}

a{
	font-weight: bold;
	color: black;
	margin-left: 8px;
	
}

a:link{
	text-decoration: none;
}
.header{
    height: 68px;
    width: 100%;

}
.header > h2 {
    margin-right: 1200px ;
}