/* Stylesheet for home page */
 button{
	 border: 1px solid rgb(74, 143, 74);	
	 box-shadow: 1px 1px 1px 1px rgb(22, 185, 22);
	 font-weight: bold;
 }

.top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-row: 1;
}

.top > h1 {
	margin-left: 23px;
}

#aboveTitles{
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-row: 2;
	margin-left: 18px;
}

#aboveTitles li{
	margin-right: 28px;
	font-size: 14px;
	font-weight: 900;
	padding: 0.5rem;
	list-style: none;
	text-transform: uppercase;
}

.activeTicket{
	border-radius: 5px;
	color: #fff;
	background-color: teal;
}

.titles{
	display: flex;
	justify-content: space-around;
	grid-row: 2;
	list-style: none;
	padding: 0.5rem;
	font-size: 15px;
	font-weight: 900;
	padding: 0.5rem;
}

.home_content_style {
	display: grid;
	grid-template-rows: 1fr 1fr 10fr;
}

#issueTable{
	border-collapse: collapse;
	grid: 3;
}

#issueTable thead{
	background-color: #ededed; 
}

#issueTable thead th{
	padding: 5px;
}

#issueTable tbody{
	text-align: center;
}

#issueTable tbody tr{
	border-bottom: 1px solid #ededed;
}

#issueTable tbody tr:hover{
	background-color: #f6f6f6;
	cursor: pointer;
}

#issueTable tbody tr td{
	padding: 10px;
	font-size: 0.65rem;
	font-weight: bold;
}

#issueTable tbody tr td:nth-child(1){
	color: #4d4dff;
}


#issueTable tbody tr td:nth-child(1):hover{
	color: #6ee0e0;
	text-decoration: underline;
}
