/* Stylesheet for Create Issue page */
#main{
	display: grid;
	grid-column: 3 / span 4;
	grid-gap: 0.6rem;
	grid-row: 2;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.submitBtn{ 
	background-color: dodgerblue;
	width: 90px;
  height: 30px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
}

p{
	font-weight: bold;
}