<!-- Details stylsheet -->
<link rel="stylesheet" type="text/css" href="/style/styleDetails.css">

<div class="sidebar">
	<div class="sidebar_container">
		<div class="sideItems">
			<img id="home" src= "/assets/home.png" width= 20px height=20px> 
			<a href = "/pages/home.html">Home</a>
		</div>

		<div class="sideItems">
			<img id="phone" src= "/assets/addUser.png" width= 20px height=20px>
			<a href ="/pages/newUser.html">Add User</a>
		</div>
		<div class="sideItems">
			<img id="phone" src= "/assets/newIssue.png" width= 20px height=20px>
			<a href = "/pages/createIssue.html">New Issue</a>
		</div>
		<div class="sideItems">
			<img id="phone" src= "/assets/logout.png" width= 20px height=20px>
			<a>Logout</a>
		</div>
	</div>
</div>

<div id="content">
	<div id="main"> 
	</div>

	<div class= "info">
	</div>
</div>
