<div id="wrapper">
	<div class="sidebar">
		<div class="sidebar_container">
			<div class="sideItems">
				<img id="home" src= "/assets/home.png" width= 20px height=20px> 
				<a href="" class="home">Home</a>
			</div>

			<div class="sideItems">
				<img id="phone" src= "/assets/addUser.png" width= 20px height=20px>
				<a href ="" class="addUserPage">Add User</a>
			</div>

			<div class="sideItems">
				<img id="phone" src= "/assets/newIssue.png" width= 20px height=20px>
				<a href="" class="createIssue">New Issue</a>
			</div>

			<div class="sideItems">
				<img id="phone" src= "/assets/logout.png" width= 20px height=20px>
				<a href="" class="logout">Logout</a>
			</div>

		</div>
	</div>

	<div id="content">
		<div id="main"> 
		</div>

		<div class= "info">
		</div>
	</div>
</div>
