<div id="wrapper">
	<div class="sidebar">
		<div class="sidebar_container">
			<div class="sideItems">
				<img id="home" src= "/assets/home.png" width= 20px height=20px> 
				<a href="" class="home">Home</a>
			</div>

			<div class="sideItems">
				<img id="phone" src= "/assets/addUser.png" width= 20px height=20px>
				<a href ="" class="addUserPage">Add User</a>
			</div>

			<div class="sideItems">
				<img id="phone" src= "/assets/newIssue.png" width= 20px height=20px>
				<a href="" class="createIssue">New Issue</a>
			</div>

			<div class="sideItems">
				<img id="phone" src= "/assets/logout.png" width= 20px height=20px>
				<a href="" class="logout">Logout</a>
			</div>

		</div>
	</div>


	<!-- Home Page -->
	<div class="content">
		<div class="top"> 
			<h1>Issues</h1>
			<button id="top" class="newIssue" style="color: white">Create New Issue</button>
		</div>

		<ul id="aboveTitles">
			<li>Filter by: </li>
			<li>all</li>
			<li>open</li>
			<li>my tickets</li>
		</ul>

		<!-- 
		<ul class="titles"> 
			<li>Title</li>
			<li>Type</li>
			<li>Status</li>
			<li>Assigned To</li>
			<li>Created</li>
		</ul>-->

		<table id="issueTable">
			<thead>
				<th>Title</th>
				<th>Type</th>
				<th>Status</th>
				<th>Assigned To</th>
				<th>Created</th>
			</thead>
			<tbody id="issuesBody">

			</tbody>
		</table>
	</div>
</div>
