<div id="wrapper">
	<div class="sidebar">
		<div class="sidebar_container">
			<div class="sideItems">
				<img id="home" src= "/assets/home.png" width= 20px height=20px> 
				<a href="" class="home">Home</a>
			</div>

			<div class="sideItems">
				<img id="phone" src= "/assets/addUser.png" width= 20px height=20px>
				<a href ="" class="addUserPage">Add User</a>
			</div>

			<div class="sideItems">
				<img id="phone" src= "/assets/newIssue.png" width= 20px height=20px>
				<a href="" class="createIssue">New Issue</a>
			</div>

			<div class="sideItems">
				<img id="phone" src= "/assets/logout.png" width= 20px height=20px>
				<a href="" class="logout">Logout</a>
			</div>

		</div>
	</div>

	<div class="content"> 
		<h1>New User</h1>
		<form id="newUserForm">
			<label>Firstname</label>
			<input type="text" id = "fname" class="fname" placeholder="John" name="firstname"required> 
			<label>Lastname</label>
			<input type="text" id = "lname" class="lname" placeholder="Doe" name="lastname" required>
			<label>Password</label>
			<input type="password" id = "userPassword" class="pword" name="password" required>
			<label>Email </label>
			<input type="email" id = "userEmail" class="email" placeholder="example@example.com" name="email"required>
			<button id = "btn" class="newUserBtn" style = "color:white">Submit</button>
		</form>
	</div>
</div>
